.game-board {
    width: 100%;
}
.game-row {
    margin-bottom: 2px;
}

.game-cell {
    padding: 0px;
    margin: 0px;
    margin-right: 2px;
    border-radius: 2px;
    font-size: 90px;
    font-weight:lighter;
    padding: 0;
    line-height: 1;
    height: 100px;
    width: 100px;
}
.gamepage-spacing {
    padding: 100px;
}