/* Style and spacing for my Game page */
.game-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 2px;
}
.game-board{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-cell {
    padding: 0px;
    margin: 0px;
    margin-right: 2px;
    border-radius: 2px;
    font-size: 90px;
    font-weight:lighter;
    padding: 0;
    line-height: 1;
    height: 100px;
    width: 100px;
}
.gamepage-spacing {
    padding: 50px;
}
.gamepage-spacing-2 {
    padding: 100px;
}
.info-modal{
    background: white;
    color: black;
    min-width: 200px;
    max-width: 90vw;
    min-height: 100px;
    max-height: 90vh;
    padding: 30px;
    border-radius: 20px;
  }
.info-modal a {
    text-decoration: none;
}
.info-modal a:hover {
    color:gray;
    text-decoration: underline;
}
  
.info-modal-overlay{
position: fixed;
top: 0;
left: 0;
background: rgba(0,0,0,0.5);
width: 100vw;
height: 100vh;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
@media screen and (max-width:767px){
    
}