/* Style and spacing for my About page */
.signup-spacing {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.labels {
    text-align: left;
}
@media screen and (max-width:767px){
    .labels{
        text-align: center;
    }
    form {
        width: 100%;
    }
}
